.heading{
  height: 50px;
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  background-color:#F0F8FF;
}

.left-section{
  /* background-color: red; */
  
  width: 400px;
  
}

.profile{
  height: 30px;
  object-fit: cover;
}


.profile-icon{
  height: 50px;
  object-fit: cover;
  width: 100px;
  cursor: pointer;
}

.homeIcon{
  height: 30px;
  border-radius: 50%;
}


.middle-section{
  background-color: green;
  
  width: 400px;
}

.right-section{
  /* background-color: blue; */
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.dropbtn {
  /* background-color: #04AA6D; */
  color: white;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
  /* height: 50px; */
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 15px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  /* height: 50px; */
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
button{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}


.register{
  background-color: #55c2da;
  color: white;
  height: 35px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.login{
  background-color: #5dbea3;
  color: white;
  border: none;
  padding: 10px;
}