
.title{
  font-family: Arial;
  font-weight: bold;
  font-size: 18px;

}


.Football{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
  
}

.photos{
  /* height: 100px; */
  /* height: 200px; */
  object-fit: cover;
  width: 100%;
  height: 125px;

}
.Grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cards{
  display: flex;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
  height: 300px;
  width: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
 
}


.box{
  /* width: 100%; */
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  
}

.address{
  margin-top: 10px;
  margin-bottom: 10px;

}
.slots{
  display: flex;
  vertical-align: middle;
}

.empty-slots{
  margin: 0;
  margin-right: 10px;
}
